// 共通・グローバルナビゲーション



// 変数、ミックスイン、関数
@use "../../global/" as g;



@include g.mq('md-max') {

  // ボタン
  .gNavBtn {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 2;
    width: 70px;
    height: 70px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: g.$mainColor;
    color: g.$whiteColor;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;

    display: grid;
    grid-template-rows:
      auto
      auto;
    align-content: start;

    &:hover,
    &:focus-visible {
      background-color: g.$baseColor2;
    }

    &__line {
      position: relative;
      justify-self: center;
      align-self: center;
      width: 30px;
      height: 2px;
      margin-block: 25px 12px;
      background-color: g.$whiteColor;

      .is-gNavOpen & {
        background-color: transparent;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: g.$whiteColor;
        transition: rotate .3s;
      }

      &::before {
        translate: 0 -9px;

        .is-gNavOpen & {
          translate: 0;
          rotate: 45deg;
        }
      }

      &::after {
        translate: 0 9px;

        .is-gNavOpen & {
          translate: 0;
          rotate: -45deg;
        }
      }
    }

    &__text {
      font-size: g.rem(12);
      text-transform: uppercase;
    }
  }


  // メインメニュー
  .gNav {
    overflow-y: auto;
    position: fixed;
    inset: 0;
    z-index: 1;
    padding-block: 28px;
    background-color: g.$baseColor1;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;

    .is-gNavOpen & {
      opacity: 1;
      visibility: visible;
    }

    &__image {
      display: block;
      width: 76.5px;
      height: 103.8px;
      margin-inline: auto;
    }

    &__list {
      margin-block-start: 34px;
    }

    &__item {
      border-top: dashed 1px;

      &:last-child {
        border-bottom: dashed 1px;
      }
    }

    &__link {
      display: block;
      padding: 10px;
      color: g.$mainColor;
      @include g.rem-fz(14);
      font-weight: bold;
      text-decoration-line: none;
      text-align: center;

      @include g.hover {
        color: g.$baseColor3;
      }
    }

    &__links {
      margin-top: 45px;
      display: flex;
      column-gap: 7px;
      justify-content: center;

      &Link {
        color: g.$mainColor;
        font-size: g.rem(12);
        line-height: 1;
        text-decoration-line: none;

        &:first-child {
          order: -1;
        }

        @include g.hover {
          color: g.$baseColor3;
        }
      }

      &::before {
        content: "";
        border-left: solid 1px;
      }
    }
  }


  // オーバーレイの下で、ページがスクロールするのを防ぐ。
  html.is-gNavOpen,
  html.is-gNavOpen body {
    height: 100%;
    overflow-y: hidden;
  }

} // 767px以下




@include g.mq(md-min) {

  // ボタン
  .gNavBtn {
    display: none;
  }


  // メインメニュー
  .gNav {
    font-size: min(20 / 1124 * 100vw, 20px);
    padding: 1em;
    background-color: g.$baseColor1;

    &__image,
    &__links {
      display: none;
    }

    &__list {
      display: grid;
      grid-auto-flow: column;
      column-gap: calc(50 / 20 * 1em);
      justify-content: center;
    }

    &__item {

      &.--top {
        display: none;
      }
    }

    &__link {
      text-decoration-line: none;
      display: grid;
      grid-auto-flow: column;
      column-gap: .3em;
      align-items: center;
      outline: none;
      transition: all .3s;

      &::before {
        content: "";
        width: calc(28 / 20 * 1em);
        height: calc(28 / 20 * 1em);
        background-image: url(../images/common/ico_paw.svg);
        background-size: cover;
      }

      &:hover,
      &:focus-visible {
        color: g.$baseColor3;
        font-weight: bold;

        &::before {
          background-image: url(../images/common/ico_paw_o.svg);
        }
      }

      .top &.--top,
      .products &.--products,
      .blog &.--blog,
      .staff &.--staff,
      .faq &.--faq,
      .contact &.--contact {
        color: g.$baseColor3;
        font-weight: bold;

        &::before {
          background-image: url(/src/images/common/ico_paw_o.svg);
        }
      }
    }
  }
}
