// 共通・ページネーション2


// 変数、ミックスイン、関数
@use "../../global" as g;



.pagination2 {
  margin-top: 80px;
  @include g.rem-fz(18);
  display: grid;
  grid-template-columns:
    1fr 1fr;
  grid-template-rows:
    repeat(2, auto);
  grid-template-areas:
    "prev next"
    "top top";
  row-gap: 30px;
  align-items: center;;

  &__prev,
  &__next {
    width: 142px;
    height: 50px;
    border-radius: 6px;
    background-color: g.$baseColor1;
    text-decoration-line: none;
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
  }

  &__prev {
    grid-area: prev;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      border-left: solid 2px;
      border-bottom: solid 2px;
      rotate: 45deg;
    }
  }

  &__next {
    grid-area: next;
    justify-self: end;

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      border-right: solid 2px;
      border-bottom: solid 2px;
      rotate: -45deg;
    }
  }

  &__top {
    grid-area: top;
    justify-self: center;
    text-align: center;
    text-underline-position: under;
  }


  @include g.mq {
    margin-top: 100px;
    grid-template-columns:
      auto 1fr auto;
    grid-template-rows:
      auto;
    grid-template-areas:
      "prev top next";
  }
}
