/* top-header
------------------------------------------------------ */



/* IE11 無視のプロジェクトなので min関数でレスポンシブ時のサイズバランスを調整しています */

.top-header {
  border-bottom: min((30 / 375) * 1 00vw, 30px) solid var(--c_key2);

  &::after {
    content: "";
    display: block;
    height: min((200 / 375) * 100vw, 200px);
    background: url(../img/bg_top_header_sp.jpg) center center / cover;
  }
}

.top-header__inner {
  max-width: var(--width);
  padding: 10px 20px 30px;
  margin: auto;
}

.top-header__logo {
  max-width: 424px;
  margin: auto;
}

.top-header__txt {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 30px 0;
  font-size: min((16 / 375) * 100vw, 20px);
  line-height: 1.8;
}


@include medium {
  .top-header {
    border-bottom: 0;

    &::after {
      background: url(../img/bg_top_header.jpg) center center / auto 200px repeat-x;
    }
  }

  .top-header__inner {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-header__logo {
    width: calc((424 / 1084) * 100%);
  }

  .top-header__txt {
    width: calc((624 / 1084) * 100%);
    padding: 30px 55px;
    margin: 30px 0;
    font-size: min((20 / 1084) * 100vw, 20px);
  }
}
