/* category
------------------------------------------------------ */


.category {

  & + * {
    margin-top: 40px;
  }
}

.category__list {
  display: grid;
  grid-template-columns:
    repeat(2 ,1fr);
  gap: 1px;

  @include small {
    grid-template-columns:
      repeat(3, 1fr);
  }
}

.category__link {
  display: block;
  padding: 10px;
  background: var(--c_key2);
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;

  &[aria-current] {
    background: var(--c_key1);
    color: var(--c_white);
    font-weight: bold;
  }
}


/* for PC */
@include medium {
  .category {
    border-bottom: 5px solid var(--c_key1);

    & + * {
      margin-top: 50px;
    }
  }

  .category__list {
    grid-template-columns:
      repeat(6, 1fr);
    gap: 3px;
  }

  .category__link {
    height: 100%;
    padding: 20px 5px 15px;
    border-radius: 6px 6px 0 0;
    font-size: 16px;
    display: grid;
    place-content: center;
  }
}
