/* 商品カテゴリー
------------------------------------------------------ */


.pd-category {
  border: 1px solid var(--c_gray1);
  text-decoration: none;
  line-height: 1.5;
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    border-color: var(--c_key1);
    background: var(--c_key2);
    color: var(--c_text);
  }
}

.pd-category__thumb {
  flex-shrink: 0;
  width: min((120 / 375) * 100vw, 120px);
}

.pd-category__title {
  padding: 10px 10px 10px 20px;
  font-size: min((16 / 375) * 100vw, 18px);
}
